apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  selector:
    matchLabels:
      app: web-mysql
  template:
    metadata:
      labels: 
        app: web-mysql
    spec:
      containers:
      - name: mysql
        image: mysql:latest
        ports:
          - containerPort: 3306
        env:
          - name: MYSQL_DATABASE
            value: "drupal"
          - name: MYSQL_ROOT_PASSWORD
            value: "root"
          - name: MYSQL_USER
            value: "drupaluser"
          - name: MYSQL_PASSWORD
            value: "drupalpassword"
        volumeMounts:
          - name: mysql-volume
            mountPath: /var/lib/mysql
      volumes:
      - name: mysql-volume
        persistentVolumeClaim:
          claimName: mysql-pvc